<h1>email</h1>
<h1><%= OperationResult %></h1>

<center><a href='/validation' style='background:#f96b13;border:1px solid #f96b13;text-decoration:none;padding:20px 30px;color:#ffffff;border-radius:4px;display:inline-block;font-family:Arial,Helvetica,Verdana,sans-serif;font-size:20px'>valider le paiement</a></center>